body {
    background-image: url(https://media4.giphy.com/media/pWhWtKdqwOAco/giphy.gif?cid=ecf05e47ozbq974e9gkirfjnhybdy3rukp9fpr9cjca9mh17&rid=giphy.gif&ct=g);
    background-color:black;
    background-repeat:no-repeat;
    background-position:top;
    background-size:200vmax;
    background-origin:border-box;
}
