body {
    background-image: url("https://media3.giphy.com/media/JidwhuCLt3u5sXimzc/giphy.gif?cid=ecf05e475pkxspjww1vgpzjdjz24e7i5i5grtdf8x27b1nnh&rid=giphy.gif&ct=g");
    background-color:black;
    background-repeat:no-repeat;
    background-position:top;
    background-size:55vmax;
    background-origin:border-box;

}
